.statusCard {
    background:#EFF1EC;
    border-radius: 20px; 
    height:50%;
    width:auto;
    padding: 3%;  
}

.statusBar {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255, 1));
    border-radius: 10px;
    padding-top: 3%;
    padding-right: 5%;
    height:20%;
    width:auto;
    margin-bottom: 5%;
}

.ion-icon {
    font-size: 64px;
    color: #000000;
  }

.statusText{
    color: #000000;
    float: right;
    
}

.roomPicture{
    
}

.roomName{
    color:white;
    position: absolute;
    bottom: 2px;
    margin-bottom: 2px;
    left: 16px;
    font-family: roboto;
}

#scannerIcon{
    position: relative;
    top: 1%;
    left:84%;
    font-size: 48px;
    color: #000000;
    
}