<ion-content [fullscreen]="true">
  <ion-icon name='scan-outline' id="scannerIcon" ></ion-icon>
  <ion-card class = "roomPicture">
    <ion-img  src="/assets/roskilde.svg"></ion-img>
    <h1 class="roomName" >{{RoomInt.Name}} </h1>
  </ion-card>


  <ion-card class="statusCard">

    <div class="statusBar">
      <ion-icon  class="ion-icon" name="thermometer-outline"></ion-icon>
      <h1 class="statusText" (click)='seeTemp()' >{{RoomInt.tempStr}}</h1>
    </div>

    <div class="statusBar">
      <ion-icon  class="ion-icon" name="leaf-outline"></ion-icon>
      <h1 class="statusText">Good</h1>
    </div>

    <div class="statusBar">
      <ion-icon  class="ion-icon" name="water-outline"></ion-icon>
      <h1 class="statusText">Fair</h1>
    </div>

    <div class="statusBar">
      <ion-icon  class="ion-icon" name="cloud-outline"></ion-icon>
      <h1 class="statusText">Windy</h1>
    </div>

    <div class="statusGroup">
      <ion-icon  class="ion-icon" name="cloud-outline"></ion-icon>
      <div class="groupGroup">
        <div class="groupPassive TopLeft"></div>
        <div class="groupPassive BottomRight"></div>
        <div class="groupPassive TopRight"></div>
        <div class="groupActive BottomLeft"></div>
      </div>
    </div>

  </ion-card>
  
</ion-content>